@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #bab6b6;
}
/* header styles */
.header-menu.ant-menu-item-selected {
  color: #ffffff !important;
  background-color: rgb(255 255 255 / 15%) !important;
  border-radius: 0 !important;
}
.header-menu.ant-menu {
  background-color: transparent !important;
}

/* file styles */

.file svg {
  margin-bottom: 5px;
  font-size: 64px;
}
.file svg path {
  fill: #d2d3d8;
}
.file.active {
  position: relative;
}
.file.active::before {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.75;
  content: '';
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(160, 200, 200, 0.544);
}

/* video player */
.player svg path {
  fill: white;
}
/* button styles */
.upload div,
button {
  width: 100%;
}
